@font-face {
    font-family: 'League Gothic';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?') format('embedded-opentype'),
    url('League_Gothic-webfont.woff') format('woff'),
    url('League_Gothic-webfont.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
body {
    background-color: #000000; /*#212426;*/
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#info {
    width: 100%;
    position: absolute;
    top: 0;
    height: 52px;
    background-color: #111;
    color: #ccc;
    font-family: 'League Gothic', arial, sans-serif;
}
#info h1 {
    margin: 0 0 0 20px;
    float: left;
    font-size: 40px;
    color: #ff0077;
}
#info h2 {
    margin: 14px 0 0 5px;
    float: left;
    font-size: 25px;
}

#info ul {
    float:right;
    display-icon-type:none;
}

#info li {
    display:block;
    float:left;
    margin-right: 15px;
}

#info li a {
    color: #ff0077;
    margin-left: 5px;
}

#loading {
    font-size: 60px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 500px;
}

#togglefft {
    float: left;
    margin: 20px 0 0 10px;
    color: #ff0077;
}

#fft { 
    display: none;
    margin: 2px 0 0 10px;
    float: left;    
}

#stats {
    margin: 0 0 0 10px;
    float: left;
}

#songinfo {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111;
}

#songinfo span, #songinfo h3 {
    color: #ccc;
    font-size: 12px;
    margin: 5px 30px 5px 30px;
    padding: 0;
}

#songinfo a {
    color: #ff0077;
}
